<div>
  <h1></h1>
  <form #form1="ngForm">
    <label >Form 1 validation : <span>{{form1.valid}}</span></label>

    <form #form2="ngForm">
      <label >Form 2 validation : <span>{{form2.dirty}}</span></label>
      <input type="text"  name="form2"  [(ngModel)]="field2">

      <form #form21="ngForm">
        <label >Form 2.1 validation : <span>{{form21.dirty}}</span></label>
        <input type="text"  name="form21" [(ngModel)]="field21">
      </form>

      <form #form22="ngForm">
        <label >Form 2.2 validation : <span>{{form22.dirty}}</span></label>
        <input type="text"  name="form22" [(ngModel)]="field22">
      </form>

      <form #form3="ngForm">
        <label >Form 3 validation : <span>{{form3.dirty}}</span></label>
        <input type="text"  name="form3" [(ngModel)]="field3">
        <form #form31="ngForm">
          <label >Form 3.1 validation : <span>{{form31.dirty}}</span></label>
          <input type="text"  name="form31" [(ngModel)]="field31">
        </form>

      </form>

      <form #form4="ngForm">
        <label >Form 4 validation : <span>{{form4.dirty}}</span></label>
        <input type="text"  name="form41"  [(ngModel)]="field4">
        <form #form41="ngForm" >
          <label >Form 4.1 validation : <span>{{form41.dirty}}</span></label>
          <input type="text"  name="form41"  [(ngModel)]="field41">
        </form>
      </form>
    </form>

  </form>

</div>
